import org.openqa.selenium.chrome.ChromeDriver
import org.openqa.selenium.firefox.FirefoxDriver
import org.openqa.selenium.phantomjs.PhantomJSDriver


waiting{
    timeout=8
    retryInterval=0.5
    includeCauseInMessage=true

    preset{
        slow{
            timeout=20
            retryInterval=1
        }
        verySlow{timeout=50}
    }
}
atCheckWaiting="slow"
//atCheckWaiting=true





environments {
    firefox {
        driver = { new FirefoxDriver() }
    }
    phantomJs {
        driver = { new PhantomJSDriver() }
    }
    chrome {
        driver = { new ChromeDriver() }
    }

   // baseUrl="http://www.51.ca"
   baseUrl="http://www.abodeqa.com/"
    reportsDir="./target/report"

 //driver = { new FirefoxDriver()
driver = { new ChromeDriver }


}
